# Directorios de subidas (Archivos de usuarios)
uploads/attachments/*
uploads/avatars/*
uploads/logos/*

# Mantener las carpetas vacías y archivos por defecto en el repositorio
!uploads/attachments/.gitkeep
!uploads/avatars/.gitkeep
!uploads/logos/.gitkeep
!uploads/avatars/default.png
!uploads/avatars/group.png

# IDEs y sistemas operativos
.vscode/
.idea/
.DS_Store
Thumbs.db
